* {
    box-sizing: border-box;
}

body {
    margin: 0;
  
}

header {
    height: 80px;
    width: 100%;
    padding-top: 60px;
}

.container {
    margin: 0 auto;
    width: 1146px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.col-left {
    display: flex;
    align-items: center; 
}

.logo {
    text-decoration: none;
    color: #FCFCFC;
    font: 700 24px/1 'M plus 1p', sans-serif;
    letter-spacing: 2px;

}

.col-center {
    display: flex;
    align-items: center;    
}

.col-center nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.col-center nav ul li {
    margin-left: 54px;
    margin-right: 54px;
    display: inline-block;
}

.col-center nav ul li:first-child {
    margin-left: 0;
}
  
.col-center nav ul li:last-child {
    margin-right: 0;
}

.col-center nav ul li:first-child a {
    padding-left: 0;
}
  
.col-center nav ul li:last-child a {
    padding-right: 0;
    margin-right: 0;
}
  
.col-center nav ul li a {
    text-decoration: none;
    color: #FCFCFC;
    font: 700 14px/1 'M plus 1p', sans-serif;
    letter-spacing: 2px;
}

.col-right-1 {
    display: flex;
    align-items: center;
}

.col-right-1 a {
    margin-left: 18px;
    text-decoration: none;
    color: #FCFCFC;
    font: 700 14px/1 'M plus 1p', sans-serif;
    letter-spacing: 2px;
}

.col-right-2 {
    display: flex;
    align-items: center;
}

.promo {
    background: url(https://i.ibb.co/1Myq88j/Photo.png) center / contain no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.headline {
    width: 852px;
    padding-top: 149px;
    padding-bottom: 304px;
}

.headline h1 {
    color: #FCFCFC;
    font: 800 14px/1 'M plus 1p', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 50px;
    margin-top: 0;
    text-transform: uppercase;
}

.headline h2, h3 {
    font: 900 99px/1 'M plus 1p', sans-serif;
    margin: 0;
}

.headline h2 {
    color: #FCFCFC;

}

.headline h3 {
    color: #F61067;
}

.subheader {
    width: 60%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: flex-end;
    position: absolute;
    padding-top: 46px;
    padding-right: 130px;
    padding-bottom: 46px;
    border-left: none;
    left: 30%;
    bottom: 50px;
    transform: translate(-50%, -50%);
}

.subheader a {
    display: block;
    width: 48px;
    height: 48px;
    background: url(https://i.ibb.co/k6FtczX/Arrow.png) 0 0 / cover no-repeat;
    position: absolute;
    right: 49px;
    top: 30%;
    transform: translate(-50%);
}

.subheader p {
    color: #FCFCFC;
    font: 400 18px/1.5 'M plus 1p', sans-serif;
    padding-left: 47px;
    
    
}


.scroll {
    transform: rotate(90deg);
    display: flex;
    align-items: flex-end;
}

.scroll p{
    color: #FCFCFC;
    font: 800 13px/1 'M plus 1p', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    
}

.intro {
        padding-top: 180px;
}

.intro-text {
    margin-bottom: 74px;
    position: relative;
}


.services h1, h2 {
    margin: 0;
}

.services h1 {
    font: 800 13px/1 'M plus 1p', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #F61067;
    margin-bottom: 18px;
}

.services h2 {
    font: 500 45px/1  'M plus 1p', sans-serif;
    color: #30233D;
}

.flower {
    margin-bottom: 18px;
    width: 56px;
    height: 56px;
    background: url(https://i.ibb.co/LSYRkv7/Icon.png) 0 0 / cover no-repeat;
}

.row {
    margin-bottom: 118px;
}

.element {
    margin-top: 64px;
}

.element img {
    margin-bottom: 18px;
    width: 54px;
    height: 54px;
}

.element h1, p {
    margin: 0;
}

.element h1 {
    font: 500 18px/1 'M plus 1p', sans-serif;
    color: #30233D;
    padding-bottom: 9px;
}

.element p {
    font: 400 16px/1 'M plus 1p', sans-serif;
    color: #776C82;

}

.quote {
   width: 1013px;
    position: relative;
}

.text-quote {
    background-color:  #5E239D;
    font: 400 23px/2 'Noticia Text', sans-serif;
    font-style: italic;
    color: #FCFCFC;
    height: 234px;
    width: 100%;
    
}

.text-quote p {
    padding-left: 98px;
    padding-right: 161px;
    padding-top: 60px;
}

.author {
    padding: 54px 0 0 98px;
}

.author span {
    font: 400 18px/1 'M plus 1p', sans-serif;
    color: #F61067;
    padding: 54px 0 0 98px;
}

.company{
    font: 400 18px/1 'M plus 1p', sans-serif;
    color: #776C82;
}

.man {
    display: flex;
    position: absolute;
    right: -138px;
    top: -110px; 
    width: 393px;
    height: 504px; 
    background: url(https://i.ibb.co/hDDt7Mb/Photo-man.png) 0 0 / cover no-repeat;
}

.features {
    padding-top: 180px;
    position: relative;
}



.benefits {
    margin-bottom: 71px;
}

.benefits h1 {
    margin: 0 0 11px 0;
    font: 800 13px/1 'M plus 1p', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}

.benefits h2 {
    margin: 0 0 17px 0;
    font: 500 45px/1 'M plus 1p', sans-serif;
    color: #150433;
}

.benefits p {
    font: 800 18px/1.5 'M plus 1p', sans-serif;
    color: #150433;
}

.text-features-main {
    font: 400 18px/1.5 'M plus 1p', sans-serif;
    color: #150433;
    margin-bottom: 48px;
}

.text-features-main p {
    margin-bottom: 20px;
}

.text-features-main p:last-of-type {
    margin-bottom: 0;
}

.button {
    width: 197px;
    height: 44px;
    background-color: #F61067;
    border-radius: 36px;
    text-align: center;
    padding: 12px 0;
}

.button a {
   text-decoration: none;
   font: 500 14px/1 'M plus 1p', sans-serif;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FCFCFC;
}

.windows {
    width: 558px;
    height: 684px;
    background:  url(https://i.ibb.co/8n3zWw8/Photos.png) 0 0 / cover no-repeat;
}

.clients {
    padding-top: 300px;
    position: relative;
}

.clients-text {
    margin: 0;
    position: relative;
    margin-bottom: 260px;
}

.clients-text h1 {
    margin: 0 0 11px 0;
    font: 800 13px/1 'M plus 1p', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}

.clients-text h2 {
    margin: 0;
    font: 500 45px/1 'M plus 1p', sans-serif;
    color: #150433;
}

.purple {
    width: 835px;
    height: 684px;
    background-color: #150433;
    position: absolute;
    bottom: -200px;
    left: -114px;
    z-index: 1;
}



.purple-text h1 {
    margin: 0 0 25px 0;
    font: 500 36px/1.5 'M plus 1p', sans-serif;
    color: #F61067;
    z-index: 1;
    position: relative;
}

.purple-text p {
    margin: 0 0 25px 0;
    font: 400 18px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    z-index: 1;
    position: relative;
}

.purple-text p:last-of-type {
    margin: 0;
}

.clients-our h1{
    font: 800 13px/1.5 'M plus 1p', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #30233D;
   
}

.codepen {
    width: 166px;
    height: 30px;
    background: url(https://i.ibb.co/s6mskJn/Vector.png) 0 0 / cover no-repeat;
    transform: translate(0, 50px);
}

.dribble {
    width: 170px;
    height: 40px;
    background: url(https://i.ibb.co/8mXDQ9M/Vector-1.png) 0 0 / cover no-repeat;
    transform: translate(0, 50px);
}

.section-background {
    background-color: #30124E; 
    position: relative;
    bottom: -140px;

}

.section {
    padding-top: 210px;
    padding-bottom: 306px;
    margin-bottom: 120px;  
}

.section-text {
    margin-bottom: 60px;
    width: 754px;
}

.section-text h1{
    margin: 0 0 11px 0;
    font: 800 13px/1 'M plus 1p', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}

.section-text p {
    font: 500 27px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;    
}
 


.colomn, .colomn-first {
    border: 1px solid rgba(255, 255, 255, 0.125);

    padding: 80px 30px;
}

.colomn-first {
    background-color:#F61067;
}

.row {
    margin: 0;
}

.colomn, .colomn-first h1 {
    margin: 0 0 12px 0;
    font: 800 18px/1.5 'M plus 1p', sans-serif;
    
}

.number {
    color: #FCFCFC;
}

.other-number {
    color:#F61067;
    margin: 0 0 12px 0;
    font: 800 18px/1.5 'M plus 1p', sans-serif;
}

.colomn-first h2 {
    margin: 0 0 20px 0;
    font: 500 27px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
}

.colomn h2{
    margin: 0 0 20px 0;
    font: 500 27px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
}


.colomn, .colomn-first p {
    color: #FCFCFC;
    font: 18px/1.5 'M plus 1p', sans-serif;
}


.faces {
    position: relative;
}


.testimonials {
    padding-bottom: 200px;
}


.people {
    width: 1440px;
    background: url(https://i.ibb.co/BC6DzC4/Faces.png) center 0 / 1396px 477px no-repeat;
    margin: 0 auto;
   
}

.girl {
    width: 460px;
    height: 460px;
    position: relative;
    left: 340px;
    top: -106px;
    background: url(https://i.ibb.co/2MVnYkV/Ellipse.png) 0 0 / cover no-repeat;
}


.comma {
    width: 93px;
    height: 80px;
    position: absolute;
    top: 316px;
    left: 536px;
    background: url(https://i.ibb.co/Zg8hL7J/image.png) 0 0 / cover no-repeat;
}

.quote-2 p {
    font: 400 36px/1.5 "Noticia Text", sans-serif;
    color: #30233D;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
}

.quote-2 p:last-of-type {
    font: 400 18px/1.5 'M plus 1p', sans-serif;
    font-style: normal;
    margin-bottom: 0px;

}
 

.quote-2 span {
    color: #F61067;
    font-weight: bold;
}

.arrow-left {
    height: 36px;
    width: 36px;
    display: inline-block;
    background: url(https://i.ibb.co/nmGbvP0/Arrow-Left.png) 0 0 / cover no-repeat;
}

.arrow-right {
    height: 36px;
    width: 36px;
    display: inline-block;
    background: url(https://i.ibb.co/NCG8JL6/Arrow-Right.png) 0 0 / cover no-repeat;
}

.box-arrow-left, .box-arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px, -22px);
}

.form {
    width: 613px;
    margin: 126px auto 141px;
}

.form h1 {
    margin: 0 0 25px 0;
    font: 500 45px/1.5 'M plus 1p', sans-serif;
    color: #30233D;
}

.form p {
    margin: 0 0 45px 0;
    font: 500 18px/1.5 'M plus 1p', sans-serif;
    color: #776C82;
    text-align: center;
}

.email {
    position: relative;
    border-bottom: 2px solid #F4F4ED;
    padding-bottom: 20px;
}

input {
    display: inline-block;
    border: none;
    font: 800 18px/1.5 'M plus 1p', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #9B94A3;
    margin-right: 104px;
    margin-left: 50px;
}

.sub-button {
    font: 800 13px/1.5 'M plus 1p', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
    text-decoration: none;
    margin-right: 24px;
}

.arrow {
    height: 27px;
    width: 27px;
    position: absolute;
}

footer {
    background-color: #150433;
    padding: 200px 0;
}

.box_right a {
    text-decoration: none;
    font: 900 24px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    letter-spacing: 2px;  
}

.box_right h2 {
    font: 400 16px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    margin-top: 20px;
    width: 166px;
}

.main-menu {
    font: 800 13px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    letter-spacing: 6px;
    text-transform: uppercase;
    border-bottom: 1px solid #F61067;
    margin: 0;
    padding-bottom: 5px;
    text-decoration: none;
}


.menu ul li {
    margin-bottom: 10px; 
}


.menu ul {
    display: inline;
    list-style-type: none;
}

.menu ul li:last-child {
    margin-bottom: 0;
}

.menu ul li a {
    font: 400 13px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
}

.contact ul li {
    margin-bottom: 10px;
}

.contact ul {
    display: inline;
    list-style-type: none;
}

.contact ul li:last-child {
    margin-bottom: 0;
}

.contact ul li a {
    font: 400 16px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    text-decoration: none;
    margin-left: 10px;
}

.img-flex {
    margin-top: 30px;
}

.img-flex a {
    margin-right: 20px;
}

.img-flex a:last-of-type {
    margin-right: 0;
}

.twit {
    display: inline-block;
    height: 18px;
    width: 23px;
    background: url(https://i.ibb.co/7CQstCk/Vector-twit.png) 0 0 / cover no-repeat;
} 

.fb {
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url(https://i.ibb.co/n0t1pff/Vector-fb.png) 0 0 / cover no-repeat;
} 

.inst {
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url(https://i.ibb.co/822S2FN/Vector-inst.png) 0 0 / cover no-repeat;
} 

.yt {
    display: inline-block;
    height: 20px;
    width: 28px;
    background: url(https://i.ibb.co/zRwdznn/Vector-yt.png) 0 0 / cover no-repeat;
}

.Vector-m {
    display: inline-block;
    height: 20px;
    width: 25px;
    background: url(https://i.ibb.co/SKDpcG3/Vector-m.png) 0 0 / cover no-repeat;
}

.end-text {
    margin-top: 70px;
    margin-left: 290px;
}


.end-text p {
    font: 400 12px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
}

/*.list ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style-type: none;
    margin: 0;
}

.menu ul {
    display: inline;
}

.contact ul {
    display: inline;
}

.services-list ul {
    display: inline;
}

.list ul li a {
    text-decoration: none;
    font: 900 24px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    letter-spacing: 2px;  
}


.menu ul li {
    margin-bottom: 10px;
}


.menu ul :last-child {
    margin-bottom: 0;
}

.services-list ul li {
    margin-bottom: 10px;
}

.services-list ul :last-child {
    margin-bottom: 0;
}

.contact ul li {
    margin-bottom: 10px;
}

.contact ul :last-child {
    margin-bottom: 0;
}

.list ul li h2 {
    font: 400 16px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    margin-top: 20px;
    width: 166px;
}

.list ul li h1 {
    font: 800 13px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    letter-spacing: 6px;
    text-transform: uppercase;
    border-bottom: 1px solid #F61067;
    margin: 0;
    padding-bottom: 5px;
}

.menu ul li a {
    font: 400 13px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 10px;
}

.services-list ul li a {
    font: 400 13px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
    letter-spacing: 1px;
    font-weight: bold;
}

.contact ul li a {
    font: 400 16px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
}


.end-text {
    margin-top: 70px;
    margin-left: 306px;
}


.end-text p {
    font: 400 12px/1.5 'M plus 1p', sans-serif;
    color: #FCFCFC;
}

.contact-line {
    width: 145px;
}

.img-flex {
    margin-top: 30px;
}

.img-flex img {
    margin-right: 20px;
}

.img-flex img:last-of-type {
    margin-right: 0;
}

.follow-line {
    width: 132px;
}*/